<%= form_with(model: routine) do |form| %>
  <% if routine.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(routine.errors.count, "error") %> prohibited this routine from being saved:</h2>

      <ul>
        <% routine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
<br>
  <div class="form-group">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
<br>
  <div class="form-group">
    <%= form.label :start_time, class: "form-label" %>
    <%= form.time_select :start_time, {ampm: true} %>
  </div>

  <fieldset class="form-group">
    <legend class="mt-4">Recurrence</legend>
  <div class="form-check">  
    <%= form.check_box :mon, class: "form-check-input" %>
    <%= form.label :mon, class: "form-check-label" %>
  </div><div class="form-check"> 
    <%= form.check_box :tue, class: "form-check-input"  %>
    <%= form.label :tue, class: "form-check-label"  %>
  </div><div class="form-check">   
    <%= form.check_box :wed, class: "form-check-input"  %>
    <%= form.label :wed, class: "form-check-label"  %>
  </div><div class="form-check">   
    <%= form.check_box :thu, class: "form-check-input"  %>
    <%= form.label :thu, class: "form-check-label"  %>
  </div><div class="form-check">   
    <%= form.check_box :fri, class: "form-check-input"  %>
    <%= form.label :fri, class: "form-check-label"  %>
   </div><div class="form-check">  
    <%= form.check_box :sat, class: "form-check-input"  %>
    <%= form.label :sat, class: "form-check-label"  %>
   </div><div class="form-check">  
    <%= form.check_box :sun, class: "form-check-input"  %>
    <%= form.label :sun, class: "form-check-label"  %>
    
  </fieldset>
<br>
  <div>
    <%= form.submit :class => 'btn btn-outline-success'%>
  </div>
<% end %>
