<%= form_with(model: routine) do |form| %>
  <% if routine.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(routine.errors.count, "error") %> prohibited this routine from being saved:</h2>

      <ul>
        <% routine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.time_select :start_time %>
    <%= form.label :end_time, style: "display: block" %>
    <%= form.time_select :end_time %>
  </div>

  <div>
    <%= form.label :recurrence, style: "display: block" %>
    <%= form.select :recurrence, ['None', 'Daily', 'Weekly', 'Monthly', 'Annually'] %>
  </div>

  <!--  TODO hide this Div if None is selected-->
  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.date_select :start_date %>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.date_select :end_date %>
  </div>

  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
