<%= form_with(model: routine) do |form| %>
  <% if routine.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(routine.errors.count, "error") %> prohibited this routine from being saved:</h2>

      <ul>
        <% routine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>
<br>
  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.time_select :start_time, {ampm: true} %>
  </div>

  <div>
    <%= form.label :recurrence, style: "display: block" %>
    <%= form.label :mon %>
    <%= form.check_box :mon %>
    <%= form.label :tue %>
    <%= form.check_box :tue %>
    <%= form.label :wed %>
    <%= form.check_box :wed %>
    <%= form.label :thu %>
    <%= form.check_box :thu %>
    <%= form.label :fri %>
    <%= form.check_box :fri %>
    <%= form.label :sat %>
    <%= form.check_box :sat %>
    <%= form.label :sun %>
    <%= form.check_box :sun %>
  </div>

  <!--  TODO hide this Div if None is selected-->
  <div>
    <%= form.label :start_day, style: "display: block" %>
    <%= form.select :start_day, [""].concat(Routine.get_days_of_week) %>
  </div>

  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
