<tr id="<%= dom_id routine %>">
  <td><%= link_to "#{routine.title}", routine %></td>
  <td><%= routine.description %></td>
  <td><%= Routine.get_recurrence_str(routine) %></td>
  <td><%= Routine.get_days_of_week_str(routine) %></td>

  <% if routine.start_time %>
  <td><%= routine.start_time.strftime("%I:%M%P") %></td>
  <td><%= (routine.start_time + Routine.total_duration(routine).minutes).strftime("%I:%M%P") %></td>
  <% else %>
  <td><%= "None" %></td>
  <td><%= "None" %></td>
  <% end %>

  <% if routine.start_day and routine.start_day != '' %>
  <td><%= Routine.start_day_str(routine.start_day) %><td>
  <% else %>
  <td><%= "None" %></td>
  <% end %>
  <td>
    <%= link_to " Edit", edit_routine_path(routine), :class => 'bi bi-pencil-square btn btn-primary btn-sm' %>
    <%= link_to " Delete", routine, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, :class => 'bi bi-trash btn btn-outline-danger btn-sm' %>
  </td>
</tr>

