<div id="<%= dom_id routine %>">
<h2>Routine Title:
    <%= routine.title %>
  </h2>

  <p>
    <strong>Description:</strong>
    <%= routine.description %>
  </p>

<!--  <p>
    <strong>Created:</strong>
    <%= routine.created %>
  </p>

  <p>
    <strong>Updated:</strong>
    <%= routine.updated %>
  </p>
-->
</div>
