<tr id="<%= dom_id routine %>">
  <td><%= link_to "#{routine.title}", routine %></td>
  <td><%= routine.description %></td>
  <td><%= routine.recurrence %></td>
    <td><%= routine.daysofweek %></td>
  <td><% if routine.start_time %>
      <%= routine.start_time.strftime("%H:%M") %>
    <% end %>
  </td>
  <td><%= Routine.calculate_end_time(routine.start_time, Routine.total_duration(routine)) %>
  </td>
  <td>
    <%= link_to " Edit", edit_routine_path(routine), :class => 'bi bi-pencil-square btn btn-primary btn-sm' %>
    <%= link_to " Delete", routine, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, :class => 'bi bi-trash btn btn-outline-danger btn-sm' %>
  </td>
</tr>
</tr>
