<tr id="<%= dom_id routine %>">
  <td><%= link_to "#{routine.title}", routine %></td>
  <td><%= routine.description %></td>
  <td><%= Routine.get_routine_recurrence(routine) %></td>

  <td>
    <% Routine.get_routine_days_of_week_short_list(routine).each do |d| %>
      <%= link_to d, daily_path(:day => d) %>
    <% end %>
 </td>

  <% if routine.start_time %>
  <td><%= routine.start_time.strftime("%I:%M%P") %></td>
  <td><%= (routine.start_time + Routine.total_duration(routine).minutes).strftime("%I:%M%P") %></td>
  <% else %>
  <td><%= "None" %></td>
  <td><%= "None" %></td>
  <% end %>

  <td>
    <%= link_to complete_routine_path(routine), data: { turbo_method: :complete, turbo_confirm: "Mark this routine as complete?" }, :class => 'btn btn-outline-success btn-sm', :id => "complete_routine_#{routine.id}" do %>
    <i class="bi bi-check"></i><% end %>
    <%= link_to edit_routine_path(routine), :class => 'btn btn-outline-primary btn-sm', :id => "edit_routine_#{routine.id}" do %>
    <i class="bi bi-pencil-square"></i><% end %>
    <%= link_to routine, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger btn-sm', :id => "delete_routine_#{routine.id}" do %>
    <i class="bi bi-trash"></i><% end %>
  </td>
</tr>

