<div id="<%= dom_id routine %>">

  <h2>
    Routine Title: <%= routine.title %>
  </h2>

  <p>
    <strong>Description:</strong>
    <%= routine.description %>
  </p>

  <p>
    <strong>Tasks:</strong> <%= routine.tasks.size %>
  </p>

  <p>
    <strong>Recurrence:</strong> <%= routine.recurrence %>
  </p>

  <p>
    <strong>Created:</strong>
    <%= routine.created_at.strftime("%F") %>
  </p>

<!--  <p>-->
<!--    <strong>Updated:</strong>-->
    <%#= routine.updated_at %>
<!--  </p>-->

</div>
