<!--<p style="color: green"><%= notice %></p> -->
<h2><b>Discover New Routines!</b></h2>
<br>

<%= form_tag discover_path, method: :get, id: 'tags_form' do %>
  Filter:
  <% @all_tags.each do |tag| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "tags[#{tag}]", tag, class: 'form-check-label' %>
      <%= check_box_tag "tags[#{tag}]", "1",  @tags_to_show.include?(tag), class: 'form-check-input' %>
    </div>
  <% end %>
  <%= submit_tag 'Refresh', id: 'tags_submit', class: 'btn btn-primary' %>
<% end %>

<div class="container-fluid">
  <div class="row row-cols-4" style="--bs-gutter-x:1.25rem;" >
    <% @routines.each do | r | %>
    <div class="col">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <%= r.title %>
        </div>
        <div class="card-body">
          <p><%= r.description %></p>
          <p class="card-title"><%= link_to "Tasks", r, class: "card-link"%>
          <span class="badge bg-info rounded-pill"><%= r.tasks.count %></span></p>
          <%= link_to "Show", discover_show_path(id: r), :class => 'btn btn-primary btn-sm', :id => "view_routine_#{r.id}"%>
          <%= link_to "Copy", edit_routine_copy_path(id: r), :class => 'bi bi-pencil-square btn btn-outline-primary btn-sm', :id => "copy_routine_#{r.id}"%>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>