<h2>Edit Existing Routine</h2>
<%= form_tag routine_path(@routine), :method => :put do %>
  <%= label :routine, :title, 'Title', class: 'col-form-label' %>
  <%= text_field :routine, 'title', class: 'form-control' %>
  <%= label :routine, :description, 'Description', class: 'col-form-label' %>
  <%= text_field :routine, 'description', class: 'form-control' %>
  <%= date_select :routine, :next_occurrence, {}, class: 'form-control col-2 d-inline' %>

  <%= submit_tag 'Update Routine Info', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', routines_path, class: 'btn btn-secondary' %>
<% end %>
