<h2>Create New Routine</h2>

<%= form_tag routines_path, class: 'form' do %>
  <%= label :routine, :title, 'Title', class: 'col-form-label' %>
  <%= text_field :routine, 'title', class: 'form-control' %>
  <%= label :routine, :description, 'Description', class: 'col-form-label' %>
  <%= text_field :routine, 'description', class: 'form-control' %>
  <%= date_select :routine, :next_occurrence, {}, class: 'form-control col-2 d-inline' %>

  <%= submit_tag 'Save Changes', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', routines_path, class: 'btn btn-secondary' %>
<% end %>
