<!--<p style="color: green"><%= notice %></p> -->
<tr id="routine-header">
<td>
  <h2><strong><%= @routine.title %></strong></h2>
</td>
<td>
  <h4><%= @routine.description %></h4>
</td>
</tr>
<br>

<ul>
    <li>Recurrence: <%= Routine.get_routine_days_of_week_short_str(@routine) %></li>
    <li>Total Duration: <%= Routine.total_duration(@routine) %> minutes</li>
    <li>Start Time: <%= @routine.start_time.strftime("%I:%M%P") %></li>
    <li>End Time: <%= Routine.end_time(@routine).strftime("%I:%M%P") %></li>
    <li>Created On: <%= @routine.created_at.strftime("%I:%M%P") %> </li>
    <li>Last Updated: <%= @routine.updated_at.strftime("%I:%M%P") %> </li>
    <li>Privacy Setting: <%=@routine.is_public ? "Public": "Private" %></li>
    <li>Tags: <%= Routine.get_tag_str(@routine).empty? ? "None" : Routine.get_tag_str(@routine) %></li>
</ul>
<div>
  <%= link_to " Edit", edit_routine_path(@routine), :class => 'bi bi-pencil-square btn btn-outline-primary', :id => "edit_routine_#{@routine.id}"  %> 
  <%= link_to " Delete", routine_path(@routine), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, :class => 'bi bi-trash btn btn-outline-danger', :id => "delete_routine_#{@routine.id}"  %>
</div>
<br>
<div>
<h3><strong><%= @routine.title %> Tasks</strong>
</h3>
<table class="table" id="tasks">
<thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Description</th>
    <th>Duration</th>
    <th>Done?</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% if @routine.tasks.size == 0 %>
    No tasks yet
  <% else %>
    <% for task in @routine.tasks.order(:sequence) %>
      <%= render task %>
    <% end %>
  <% end %>
</tbody>
</table>
<%= link_to "Add Task", new_routine_task_path(@routine), :class => 'btn btn-outline-primary', :id => "add_task_routine_#{@routine.id}"  %>
</div>
