<!--<p style="color: green"><%= notice %></p> -->

<tr id="routine-header">
<td>
  <h2><strong><%= @routine.title %></strong></h2>
</td>
<td>
  <h4><%= @routine.description %></h4>
</td>
</tr>
<br>
<h4>Recurrence:</h4>
<ul>
    <li>Days of Week: <%= @routine.daysofweek %></li>
    <li>Start Day: <%= @routine.start_day %></li>
    <li>Start Time: <%= @routine.start_time %></li>
</ul>
<br>
<h3><strong>Tasks</strong>
<%= link_to "Add Task", new_routine_task_path(@routine), :class => 'btn btn-primary btn-sm' %>
<%= link_to "All Tasks", routine_tasks_path(@routine), :class => 'btn btn-primary btn-sm'  %>
</h3>
  <% if @routine.tasks.size == 0 %>
    No tasks yet
  <% end %>
  <ol>
    <% for task in @routine.tasks.order(:sequence) %>
    <li><%= task.title %>
        <br>
        <%= link_to " Edit", edit_routine_task_url(@routine,task), :class => 'bi bi-pencil-square btn btn-primary btn-sm' %> 
        <%= link_to " Delete", [@routine,task], data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, :class => 'bi bi-trash btn btn-outline-danger btn-sm' %>
        <%= link_to " Move Up", routine_task_up_path(@routine,task), :class => 'btn btn-primary btn-sm' %>
        <%= link_to " Move Down", routine_task_down_path(@routine,task), :class => 'btn btn-primary btn-sm' %>
    </li>
    <% end %>
  </ol>

<div>
  <%= link_to " Edit", edit_routine_path(@routine), :class => 'bi bi-pencil-square btn btn-primary btn-sm' %> 
  <%= link_to " Delete", routine_path(@routine), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, :class => 'bi bi-trash btn btn-danger btn-sm' %>
<br><br>
  <%= link_to "My Routines", routines_path, :class => 'btn btn-outline-primary btn-sm' %>
</div>
