<!--<p style="color: green"><%= notice %></p> -->

<tr id="routine-header">
<td>
  <h2><strong><%= @routine.title %></strong></h2>
</td>
<td>
  <h4><%= @routine.description %></h4>
</td>
</tr>
<br>
<h4>Recurrence:</h4>
<ul>
    <li>Days of Week: <%= @routine.daysofweek %></li>
    <li>Start Date: <%= @routine.start_date %></li>
    <li>End Date: <%= @routine.end_date %></li>
    <li>Start Time: <%= @routine.start_time %></li>
    <li>End Time: <%= @routine.end_time %></li>
</ul>
<br>
<h3><strong>Tasks</strong><%= link_to "Add Task", new_routine_task_path(@routine), :class => 'btn btn-primary btn-sm' %></h3>
  <% if @routine.tasks.size == 0 %>
    No tasks yet
  <% end %>
  <ol>
    <% for task in @routine.tasks.order(:sequence) %>
    <li><%= task.title %>
        <br>
        <%= link_to "Edit Task", edit_routine_task_url(@routine,task), :class => 'btn btn-primary btn-sm' %> 
        <%= link_to "Delete Task", [@routine,task], data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm' %> 
    </li>
    <% end %>
  </ol>

<div>
  <%= link_to "Edit Routine", edit_routine_path(@routine), :class => 'btn btn-primary btn-sm' %> 
  <%= link_to "Delete Routine", routine_path(@routine), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm' %>
<br><br>
  <%= link_to "My Routines", routines_path, :class => 'btn btn-outline-primary btn-sm' %>
</div>
