<!--  app/views/movies/show.html.erb -->
<h2>Details about <em><%= @routine.title %></em></h2>

<ul id="details">
  <li>
    Created on:
    <%= @routine.created_at.strftime("%B %d, %Y") %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= @routine.description %>
</p>

<div class="row">
  <%= link_to 'Edit', edit_routine_path(@routine), class: 'btn btn-primary col-2' %>
  <%= link_to 'Delete', routine_path(@routine), 'data-method': 'delete', 'data-confirm': 'Are you sure?', class: 'btn btn-danger col-2' %>
  <%= link_to 'Back to routine list', routines_path, class: 'btn btn-primary col-2' %>
</div>
