<p style="color: green"><%= notice %></p>

<tr id="routine-header">
<td>
  <h2><strong><%= @routine.title %></strong></h2>
</td>
<td>
  <h4><%= @routine.description %></h4>
</td>
</tr>
<br>
<h3>Tasks</h3>
  <ol><% for task in @routine.tasks %>
    <li><%= task.title %></li>
  <% end %></ol>
<div>
  <%= link_to "Edit Routine", edit_routine_path(@routine), :class => 'btn btn-primary col-2' %> 
  <%= link_to "Add Task", new_routine_task_path(@routine), :class => 'btn btn-primary col-2' %> 
  <%= link_to "My Routines", routines_path, :class => 'btn btn-primary col-2' %>
  <%= link_to "Delete Routine", @routine, method: :delete, 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
</div>
