<%= form_with(model: [@routine, task], local: true) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title,"Task Name", class: "form-label" %>
    <%= form.text_field :title, class: "form-control"  %>
  </div>
<br>
  <div class="form-group">
    <%= form.label :description, class: "form-label"%>
    <%= form.text_field :description, class: "form-control"  %>
  </div>
<br>
  <div class="form-group">
    <%= form.label :sequence, "Order of task in Routine", class: "form-label" %>
    <%= form.select :sequence, 1..@routine.tasks.size , :class => "form-select" %>
  </div>
<br>
  <div class="form-group">
    <%= form.label :duration, "Minutes to complete task", class: "form-label" %>
    <%= form.select :duration, 0..240 , :class => "form-range"%>
  </div>

<br>
  <div class="form-group">
    <%= form.submit :class => 'btn btn-outline-success'%>
  </div>
<% end %>
