<%= form_with(model: [@routine, task], local: true) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :sequence, style: "display: block" %>
    <%= form.select :sequence, 0..@routine.tasks.size+1 %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.select :duration, 0..240 %>
  </div>

  <div>
    <%= form.label :routine_id, style: "display: block" %>
    <%= form.select :routine_id, 0..Routine.all.size %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
