<h2>Edit Existing Task</h2>
<%= form_tag task_path(@task), :method => :put do %>
  <%= label :task, :title, 'Title', class: 'col-form-label' %>
  <%= text_field :task, 'title', class: 'form-control' %>
  <%= label :task, :description, 'Description', class: 'col-form-label' %>
  <%= text_field :task, 'description', class: 'form-control' %>
  <%= text_field :task, :duration, class: 'form-control col-2 d-inline' %>

  <%= submit_tag 'Update Task Info', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', tasks_path, class: 'btn btn-secondary' %>
<% end %>
