<p style="color: green"><%= notice %></p>

<h1>
  <%= @routine.title + " Tasks" %>
</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>

<!--    TODO Edit not working for tasks-->
    <%#= button_to "Edit this task", edit_routine_task_path(task) %>
    <br>
  <% end %>

</div>


<%= link_to "Add New Task", new_routine_task_path(@routine) %>

<br><br>

<%= link_to "Back to Routine", [@routine] %>
