<!--<p style="color: green"><%= notice %></p> -->

<h1>
  <%= @routine.title + " Tasks" %>
</h1>

<table class="table" id="tasks">
<thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Description</th>
    <th>Duration</th>
  </tr>
</thead>
<tbody>
  <% @tasks.each do |task| %>
    <%= render task %>
  <% end %>
</tbody>
</table>

<%= link_to "Add New Task", new_routine_task_path(@routine), :class => 'btn btn-primary btn-sm',:id => "add_task_routine_#{@routine.id}"  %>
<br><br>
<%= link_to "Back to Routine", routine_path(@routine), :class => 'btn btn-outline-primary btn-sm'  %>
<%= link_to "My Routines", routines_path, :class => 'btn btn-outline-primary btn-sm' %>
