<!--<p style="color: green"><%= notice %></p> -->

<tr id="task-header">
  <td>
  <h2><strong><%= @task.title %></strong></h2>
  </td>
  <td>
  <h5><strong>Instruction:</strong></h5><%= @task.description %>
  </td>
  <br><br>
  <td><b>Order in Routine:</b> <%= @task.sequence %></td>
  <br>
  <td><b>Duration:</b> <%= @task.duration %></td>
</tr>
<br><br>
<div>
  <%= link_to "Edit this task", edit_routine_task_path(@routine, @task), :class => 'btn btn-primary btn-sm'  %>
  <%= link_to "Delete Task", [@routine,@task], data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm' %> 
  <br><br>
  <%= link_to "Back to Routine", routine_tasks_path(@routine), :class => 'btn btn-outline-primary btn-sm'  %>
        
</div>
