<!--<p style="color: green"><%= notice %></p> -->
<tr id="task-header">
  <td>
  <h2><strong><%= @task.title %></strong></h2>
  </td>
  <td>
  <h5><strong>Description:</strong><br><small><%= @task.description %></small></h5>
  </td>
  <br><br>
  <td><b>Order in Routine:</b> <%= @task.sequence %></td>
  <br>
  <td><b>Duration:</b> <%= @task.duration %></td>
</tr>
<br><br>
<div>
  <%= link_to " Edit", edit_routine_task_path(@routine, @task), :class => 'bi bi-pencil-square btn btn-outline-primary', :id => "edit_task_#{@task.id}" %>
  <%= link_to " Delete", [@routine,@task], data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, :class => 'bi bi-trash btn btn-outline-danger', :id => "delete_task_#{@task.id}" %>
  <br><br>
  <%= link_to "Back to Routine", routine_url(@routine), :class => 'btn btn-primary'  %>
        
</div>
