<h3><b>My Calendar</b></h3>

<%= week_calendar do |date| %>
    <% current_user.get_routines_by_day(date.strftime("%a").to_s).each do |r| %>
      <div class="card bg-light mb-3">
        <div class="card-header">
          <%= r.start_time.strftime("%I:%M%P") %> - <%= Routine.end_time(r).strftime("%I:%M%P") %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to "#{r.title}", r, class: "card-link" %></h5>
          <p><%= r.description %></p>
        </div>

      </div>
    <%end%>

<% end %>
