
<div class="container-fluid">

  <div class="d-flex justify-content-between align-items-center">
        <h2 class="me-auto flex-child">
          <strong>My Week</strong>
        </h2>
      <span class="ms-md-auto flex-child">
        <%= link_to daily_path(:day => Date.today.strftime("%a")), :class => 'btn btn-outline-info mx-2' do %>
        <i class="bi bi-calendar-day"></i> Daily<% end %>
      </span>
    </div>
</div>
<br>
<div class="container-fluid">
<% if current_user.routines.size > 0 %>
  <%= week_calendar do |date| %>
    <% current_user.routines.where((date.strftime("%a").to_s)).order(:start_time).each do |r| %>

      <div class="card bg-light mb-3">

        <div class="card-header">
          <small><%= r.start_time.strftime("%I:%M") %> - <%= Routine.end_time(r).strftime("%I:%M%P") %></small>
        </div>

        <div class="card-body">
          <h5 class="card-title"><%= link_to "#{r.title}", r, class: "card-link" %></h5>
          <p><%= r.description %></p>
          <span class="badge bg-info rounded-pill"><%= r.tasks.count %></span>
        </div>

      </div>

      <%end%>
  <% end %>
<% else %>
  <h2> No Routines Yet </h2>
  <p> Add a Routine </p>
  <%= link_to "My Routines", routines_path, :class => 'btn btn-primary btn-md mx-2' %>
<% end %>
</div>
