<h2><b>My Week</b></h2>
<br>

<% if current_user.routines.size > 0 %>
  <%= week_calendar do |date| %>
    <% current_user.routines.where((date.strftime("%a").to_s)).order(:start_time).each do |r| %>

      <div class="card bg-light mb-3">

        <div class="card-header">
          <small><%= r.start_time.strftime("%I:%M") %> - <%= Routine.end_time(r).strftime("%I:%M%P") %></small>
        </div>

        <div class="card-body">
          <h5 class="card-title"><%= link_to "#{r.title}", r, class: "card-link" %></h5>
          <p><%= r.description %></p>
          <span class="badge bg-info rounded-pill"><%= r.tasks.count %></span>
        </div>

      </div>

      <%end%>
  <% end %>
<% else %>
  <h2> No Routines Yet </h2>
  <p> Add a Routine </p>
  <%= link_to "My Routines", routines_path, :class => 'btn btn-primary btn-md mx-2' %>
<% end %>
