<%= form_with(model: user) do |form| %>

  <!--  TODO replace this with oauth-->
  <div>
    <div>
      <%= form.label :email, style: "display: block" %>
      <%= form.text_field :email %>
      <%= form.label :pass, "Password (not encrypted)", style: "display: block" %>
      <%= form.text_field :pass %>
    </div>

    <br>

    <%= link_to "Sign in", routines_path, :class => 'btn btn-primary' %>

  <!--    <div>-->
        <%#= form.submit "Sign in" %>
  <!--    </div>-->
  </div>

<% end %>
