<h3><b>My Routine Completion Insights</b></h3>

<% if current_user.completions.size > 0 %>

<div class="container">
  <div class="container text-center">

    <br>

    <% [7, 30, 90].each do |g|  %>
      <%= link_to "Last " + g.to_s + " days", :timeframe => g %>
    <% end %>
    <%= link_to "All time", :timeframe => 0 %>

    <% @timeframe = params[:timeframe].to_i %>

    <% if @timeframe == 0 %>
    <h2> All Time Tasks Completed </h2>
    <%= line_chart @completions.all.group_by_week(:created_at).count %>
    <% else %>
    <h2> Tasks Completed in the last <%= @timeframe %> days </h2>
    <% @completions = @completions.where('created_at >= ?', @timeframe.day.ago)  %>
    <%= line_chart @completions.group_by_day(:created_at).count %>
    <% end %>
    <br>

    <h2> Most productive day of the week </h2>

    <%= column_chart @completions.group_by_day_of_week(:created_at, format: "%a").count %>

    <h2> Most Completed Routines </h2>

    <%= pie_chart @completions.group(:routine_id ).count %>

    <br><br><br>

    </div>
  </div>
</div>
<% else %>
  <h2> You have not completed any routines Yet </h2>
  <%= link_to "My Routines", routines_path, :class => 'btn btn-primary btn-md mx-2' %>
<% end %>
