<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="me-auto flex-child"><strong>My Stats<% if @timeframe == 0 %>: All Time
      <% else %>: Last <%= @timeframe %> Days
      <% end %></strong>
    </h2>
    <span class="ms-md-auto flex-child">
      <div class="btn-toolbar justify-content-center">
        <div class="btn-group me-2">
        <% [7, 30, 90].each do |g| %>
          <%= button_tag :class => 'btn btn-secondary', :onclick => "location.href = '/completions?timeframe=#{g}'" do %>
            <%= "Last " + g.to_s + " days" %>
          <% end %>
        <% end %>
        <%= button_tag :class => 'btn btn-secondary', :onclick => "location.href = '/completions?timeframe=0'" do %>
          <%= "All time" %>
        <% end %>
        </div>
      </div>
    </span>
  </div>

  <% if @completions.size > 0 %>
      <br>
    <div class="container-fluid">
      <h3>Routines Completed</h3>
      <% if @timeframe == 0 %>
        <%= line_chart @completions.all.group_by_week(:created_at).references(:completion).count %>
      <% else %>
        <%= line_chart @completions.group_by_day(:created_at).references(:completion).count %>
      <% end %>
      <br>

      <h2> Routines Completed by Day </h2>
      <%= column_chart @completions.group_by_day_of_week(:created_at, format: "%a").references(:completion).count %>

      <h2> Most Completed Routines </h2>
      <%= pie_chart @completions.group(:title).count %>

      <br><br><br>

    </div>
  <% if @timeframe == 0 %>
    <div class="container text-center">
      <h1> All-time Stats </h1>
    </div>
    <div class="table">
      <div class="row">
        <div class="col">
          <h3>
            Total Routines Completed: <%= @completions.count %>
          </h3>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <h3>
            Most productive day of the
            week: <%= @most_prod_day.to_s + " with " + @most_prod_count.to_s + " completions" %>
          </h3>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <h3>
            Most Completed Routine: <%= @most_comp_title.to_s + " with " + @most_comp_count.to_s + " completions" %>
          </h3>
        </div>
      </div>
    </div>
    <br>
    <% end %>

<% else %>
  <h2> You have not completed any routines Yet </h2>
  <%= link_to "My Routines", routines_path, :class => 'btn btn-primary btn-md mx-2' %>
<% end %>
</div>