<!DOCTYPE html>
<html>
  <head class="" style="">
    <title>MyRhythm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

  </head>

  <body class="" style="">
  <%# These classes come from the Bootstrap CSS framework. %>
  <%# https://getbootstrap.com/docs/4.0/components/navbar/ %>
    <div class="navbar navbar-expand bg-body-tertiary" style="">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">MyRhythm</a>
        <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item d-flex justify-content-between align-items-center">
          <%= link_to "/discover", :class => 'nav-link' do %>
          <i class="bi bi-award"></i><span> Discover</span><% end %>
          </li>
          <% if user_signed_in? %>

            <li class="nav-item d-flex justify-content-between align-items-center">
            <%= link_to routines_path, :class => 'nav-link' do %>
          <i class="bi bi-bar-chart-steps"></i><span> My Routines</span><% end %>
            <span class="badge text-bg-primary"><%= current_user.routines.count %></span>
            </li>

            <% if current_user.default_calendar == "Daily" %>
              <li><%= link_to daily_path(:day => Date.today.strftime("%a")), :class => 'nav-link' do %>
              <i class="bi bi-calendar-check"></i><span> Calendar</span><% end %></li>
             <% else %>
              <li><%= link_to weekly_path, :class => 'nav-link'  do %>
              <i class="bi bi-calendar-check"></i><span> Calendar</span><% end %></li>
             <% end %>

            <li><%= link_to completions_path(:timeframe => current_user.default_insights.to_i || 7), :class => 'nav-link' do %>
              <i class="bi bi-activity"></i><span> Insights</span><% end %></li>

        <% end %>

          <li class="nav-item d-flex justify-content-between align-items-center">
          </li><!--<li class="nav-item">
        <%= link_to "Sign in", "", :class => 'nav-link'  %>
        <%= link_to 'Logout', destroy_user_session_path, 'data-turbo-method': :delete  %>  
                  <%= link_to "My Profile", "/me", :class => 'nav-link'  %>
        </li>-->
          </ul>
          <ul class="navbar-nav ms-md-auto">
            <% if user_signed_in? %>
              <%= link_to "Me", "/me", :class => 'bi bi-person btn btn-sm btn-outline-dark' %>      
            <% else %>

              <%= link_to ' Login', new_user_session_path, :class => 'bi bi-person btn btn-sm btn-outline-success'  %>  
            <% end %>
            
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
            <br>
      <%# Render "flash" messages in our application. This loads _flash.erb %>
      <%= render 'layouts/flash' %>

      <main id="main">
      <%= yield %>
      </main>
    </div>
  </body>
</html>
